<?xml version='1.0' encoding='utf-8'?>
<widget id="com.summit.parking" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Parking Reservation System for The Summit Batu Pahat</name>
    <description>
        Parking Reservation System for The Summit Batu Pahat.
    </description>
    <author email="student@uthm.edu.my" href="https://uthm.edu.my">
        UTHM Developer
    </author>
    
    <content src="index.html" />
    
    <icon src="www/img/logo.png" />
    
    <access origin="*" />
    <allow-navigation href="*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <platform name="android">
        <preference name="AllowInlineMediaPlayback" value="true" />
        <preference name="CleartextTrafficPermitted" value="true" />

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/logo.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="2000" />
    </platform>
</widget>